.LogoHeader{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.headerLayout{
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 10%;
    background-color: var(--background);
}

.titleHeader{
    font-size: 1.2rem;   
}