.conteiner_promocoes {
    max-width: 100vw;
    min-height: 60%;
    padding: 1% 10%;
    box-sizing: border-box;
}

.conteiner_cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1.75rem;
    box-sizing: border-box;
}

.titlePromocoes {
    font-size: 2rem;
    font-weight: 500;
}

.principalSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
    box-sizing: border-box;
    margin-bottom: 10px;

  .conteinerFormularioPesquisa {
        width: 100%;

        .FormPesquisa {
            min-height: 13rem;
            background-color: var(--light-grey);
            width: 75%;
            border-radius: 10px;
            box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            padding: 10px;
            text-align: start;

            .titleFormPesquisa {
                margin-left: 20px;
            }

            .conteinerCardInputText{
              display: flex;
              justify-content: center;
            }

            .cardInputTextArea{
              background-color: white;
              width: 90%;
              border-radius: 0 0 15px 15px;
            }
        }

        .conteinerSessaoBotoes {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .sessaoBotoes {
                width: 90%;
                display: flex;
                justify-content: flex-end;

                .botoesFiltro {
                  width: 30%;
                }
            }
        }
    } 
}

@media screen and (max-width: 800px) {
  .principalSection {
    .conteinerFormularioPesquisa {
      width: 100%;
      .FormPesquisa {
        text-align: start;
        width: 90%;
        .titleFormPesquisa {
          margin-left: 15px;
        }
        .cardInputTextArea{
          width: 100%;
        }
      }

      .conteinerSessaoBotoes {
        .sessaoBotoes {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .botoesFiltro {
            width: 45%;
          }
        }
      }
    }
  }
}
