
:root {
  --background: #ffffff;
  --foreground: #212020;
  --secondaryColor: #577BC1;
  --ternaryColor: #000957;
  --quaternaryColor: #FFEB00;
  --boxFormLogin: #F5EFFF;
  --black: #000000;
  --red: #A31D1D;
  --bannerColor: #F8E7F6;
  --formularioLogin: #FBFBFB;
  --light-grey: #F3F8FF;
  --card-color: #decbf2;
  --post-header-color: #cba1f7;
}

[data-theme="dark"]{
  --background: #000000;
  --foreground: #ededed;
  --secondaryColor: #344CB7;
  --ternaryColor: #577BC1;
  --quaternaryColor: #FFEB00;
  --boxFormLogin: #F5EFFF;
  --black: #000000;
  --red: #A31D1D;
  --bannerColor: #17153B;
  --formularioLogin: #1A1A1D;
  --light-grey: #030637;
  --card-color: #17053b;
  --post-header-color: #381b70;
  }

html,
body {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.flexRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.flexColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.BodyLayout{
  min-height: 100vh;
}

.mainFrame{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.FullLine{
  width:100%;
}

.spaceEvenly{
  width:100%;
  justify-content: space-evenly;
}

body::-webkit-scrollbar {
  width: 6px; 
}

body::-webkit-scrollbar-track {
  background: #686D76; 
}

body::-webkit-scrollbar-thumb {
  background-color: #8B5CF6;
  border-radius: 20px; 
}
