.conteinerFormularioPesquisa{
    .FormPesquisa{
        min-height: 13rem;
        background-color: var(--light-grey);
        width: 80%;
        border-radius: 10px;
        box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        padding: 10px;
        text-align: start;

        .titleFormPesquisa{
            margin-left: 25px;
        }
    }

    .conteinerSessaoBotoes{
        width: 100%;

        .sessaoBotoes{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .botoesFiltro{
                width: 30%;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .conteinerFormularioPesquisa{
        .FormPesquisa{
            text-align: start;

            .titleFormPesquisa{
                margin-left: 15px;
            }
        }

        .conteinerSessaoBotoes{
            .sessaoBotoes{
                display: flex;
                align-items: center;
                justify-content: center;

                .botoesFiltro{
                    width: 45%;
                }
            }
        }
    }
}