.conteiner_promocoes{
    width: 100%;
    min-height: 60%;
    padding: 1% 11%;
}

.conteiner_cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1.75rem;
}

.titlePromocoes{
    font-size: 2rem;
    font-weight: 500;
}

.bannerPrincipal{
    max-width: 100vw;
}